*{
    color: #004C81;
    font-weight: bold;
}
body{
    background-color: white
}
.container{
    max-height: 100vh !important;
}
/* left side */
.feature-text{
    width: 85%;
}
.feature-text h1::before{
    content: "\25B6";
    color: #D6A85B;
    position: absolute;
    height: 25px;
    width: 25px;
    left: -15px;
    top: 25px;
}
.feature-text h1{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.3rem;
    position: relative;
    font-family: 'Merriweather Sans', sans-serif;
}
.feature-text h1 span{
    display: block;
    margin-top: 11px;
    margin-bottom: 20px;
}
.feature-text p{
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 400;
}
.feature-list ul{
   margin: 0;
   padding: 0
}

.feature-list ul li::before{
    content: "\25B6";
    color: #D6A85B;
    list-style-type: none;
    font-size: 30px
}
.feature-list ul li{
    list-style-type: none;
    margin-bottom: 40px;
    position: relative;
}
.feature-list ul li img{
    position: relative;
    height: 20px;
    width: 20px;
    left: 0px;
    top: -4px;
}
.feature-list ul li a{
    color: #004C81;
    font-size: 1.0rem;
    position: relative;
    top: -5px;
    font-style: normal;
    left: 7px;
    font-family: 'Merriweather Sans', sans-serif;
}
/* right side */
.feature-image img{
    height: 120vh;
}
