*{
    color: #004C81;
    font-weight: bold;
    font-family: 'Merriweather Sans', sans-serif;
}
body{
    background-color: white;
}
.container{
    max-height: 100vh !important;
    height: 100vh;
    position: relative;
}
.heading{
    width: 85%;
    position: relative;
    padding: 0 0 0 30px;
}
.heading img{
    position: absolute;
    height: 20px;
    width: 20px;
    left: 3px;
    top: 4px;
}
.heading h1{
    font-weight: 900;
    font-size: 1.3rem;
    position: relative;
    font-family: 'Merriweather Sans', sans-serif;
}
.heading h1 span{
    display: block;
    margin-top: 11px;
}
#menu{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#menu li {
    padding: 4px 0;
}
#menu li:before {
    content: "\f087";
    font-family: "fontAwesome";
    margin-right: 10px;
    font-size: 20px;
    color: #D7A055;
}
#menu li:after{
    content: "";
    display: block;
    background-color: #D7A055;
    height: 2px;
    width: 20%;
    margin-top: 5px;
}
#menu li a{
    font-weight: 900;
    font-size: 14px;
    color: rgb(26, 82, 114,0.8);
}

@media (max-width:900px){
    #menu li:after{
        width: 30%;
    }
}
